---
layout: default
---

    <div class="container-fluid">
    	<div class="row flag">
    		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 green"></div>
    		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 gold"></div>
    		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 red"></div>
    	</div>
		<header><h2>{{ site.title }}</h2></header>
		<section id="space">
    		{% include space.html %}
    	</section>
	    <section id="location">
	    	{% include location.html %}
	    </section>
	    <footer>

	    	<div class="row">
	    		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
	    			<h2>{{ site.title }}</h2>
	    		</div>
	    		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 logo">
	    			<img src="{{"/stylesheets/img/jokkolabs.svg" | prepend: site.baseurl }}" />
	    		</div>
	    	</div>

			<div class="row">
				<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
			      <address>
			        {{ site.village }}<br />
			        {{ site.addres }}<br />
			        {{ site.bp }}<br />
			        {{ site.mobile }}<br />
			        <a href="mailto:{{ site.email }}">{{ site.email }}</a>
			      </address>
			    </div>

			    <div class="col-xs-12 col-sm-offset-1 col-sm-3 col-md-offset-1 col-md-3 col-lg-offset-1 col-lg-3 social-networks">
			      <ul>
			        {% if site.twitter_username %}<li><a href="https://twitter.com/{{ site.twitter_username }}"><i class="icon-twitter-squared"></i> <span class="username">{{ site.twitter_username }}</span></a></li>{% endif %}
			        {% if site.facebook_page %}<li><a href="https://facebook.com/{{ site.facebook_page }}"><i class="icon-facebook-squared"></i>  <span class="username">{{ site.facebook_page }}</span></a></li>{% endif %}
			        {% if site.github_username %}<li><a href="https://github.com/{{ site.github_username }}"><i class="icon-github-squared"></i>  <span class="username">{{ site.github_username }}</span></a></li>{% endif %}
			      </ul>
			    </div>

			    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
			    	<p>{{ site.description }}</p>
			    </div>
			</div>
		</footer>
    </div>
