<h3>Contributions photographiques à Wikimédia Commons</h3>
<div class="row-fluid">
	<div class="span10">
		<p>Dasns le but d'enrichir la somme des contenus libres de photos du Mali, Jokkolabs Bamako, avec le soutien de <a href="http://www.wikimedia.ch">l'association Wikimédia Suisse</a> met à disposition des volontaires motivés, un appareil photo.</p>
		<p>Les volontaires se veront prêtés l'appareil pour un temps, à condition qu'ils reverssent leurs photographies sur <em>Commons</em>, la base de médias libre de Wikimédia. Cela signifie notamment que les photos seront publiées sous licence libre et pourront être réutilisées par quiconque.</p>
	</div>
	<div class="span2"><a href="https://commons.wikimedia.org/wiki/File:Nikon_Coolpix_L310.JPG"><img src="/images/Nikon_Coolpix_L310.JPG" class="map thumb" /></a></div>
</div>

<h3>Clavier <em>Bambara</h3>
<p>Pour faciliter l'usage et la pérennisation de nos langues nationales, nous avons créés des dispositions de claviers (<em>Keyboard Layout</em>) pour permettre à tous de facilement saisir les caractères spéciaux que l'on utilise en Bambara, Songhay et d'autres langues du Mali.</p>
<p>Ces caractères sont <strong>ɛ, ɔ, ɲ, ŋ, š, ž et Ɛ, Ɔ, Ɲ, Ŋ, Š, Ž</strong>.</p>
<p>Vous pouvez télécharger ces dispositions ci-dessous ou télécharger les <a href="https://github.com/jokkolabs/mali-keyboard">fichiers sources</a> pour les adapater.</p>
<ul>
	<li><a href="https://github.com/jokkolabs/files/raw/master/mali-keyboard/win/malifr.zip">Windows français</a> (<a href="https://github.com/jokkolabs/files/tree/master/mali-keyboard/win">voir les autres</a>).</li>
	<li><a href="https://github.com/jokkolabs/files/raw/master/mali-keyboard/linux/xkeyboard-config.zip">Linux français</a> (<em>xkeyboard-config</em>). La disposition est déjà présente dans Ubuntu depuis la version 10.04 mais avec un bug.</li>
	<li><a href="https://github.com/jokkolabs/files/raw/master/mali-keyboard/osx/French%20Mali.zip">Mac OS X français</a> (<a href="https://github.com/jokkolabs/files/tree/master/mali-keyboard/osx">voir les autres</a>).</li>
</ul>
<p>Consultez le <a href="/blog/2013/05/12/clavier-bambara.html">billet de blog</a> pour plus de détails et d'instructions.</p>