<h1>Introduction au coworking</h1>

<div class="row-fluid">
	<blockquote><p>Le coworking est un type d'organisation du travail qui regroupe deux notions : un espace de travail partagé, mais aussi un réseau de travailleurs encourageant l'échange et l'ouverture.</p>
		<p><a href="http://fr.wikipedia.org/wiki/Coworking" title="Coworking sur Wikipédia">Wikipédia</a></p></blockquote>

	<h3>Le coworking, pour qui ?</h3>

	<p>Le coworking s'adresse donc en priorité aux travailleurs indépendants. Les travailleurs indépendants, qu'ils soient avocats, informaticiens, comptable, graphistes, ou consultants sont tous confrontés aux même difficultés:</p>
	<ul>
		<li>Payer une connection Internet.</li>
		<li>Payer des frais d'électricité.</li>
		<li>Bloquer une pièce pour pouvoir y travailler.</li>
		<li>Louer un local pour accueillir (rarement) les clients.</li>

		<li>Être isolé la majeure partie du temps.</li>
		<li>Manquer des opportunités par manque de partenaire adapté.</li>
	</ul>

	<p>À Bamako, ces difficultés sont exacerbées par les fréquentes coupures de courant, le mauvais rapport qualité/prix de l'accès à Internet, les chaleurs exessives (à rapprocher aux coupures) et à l'importance particulière donnée au <em>réseautage</em> sur le marché.</p>

	<p>Le coworking <strong>permet de mutualiser tous ces coûts</strong>, de gagner en confort, et surtout d'<strong>élargir son réseau</strong>.</p>
	<p>Par définition, le coworking est <strong>à but non lucratif</strong>. C'est un espace géré par les <em>coworkers</em>, pour les <em>coworkers</em>.</p>

	<p>En bref, il est conçu pour répondre aux besoins des micro-entreprises, travailleurs indépendants, travailleurs à domicile, entrepreneurs, start-ups ou encore les travailleurs de l'économie numérique, écrivains, designers et autres professionnels des nouveaux médias ou des arts numériques dont le travail ne rentre pas dans un modèle de bureau classique.</p>

	<h3>Une révolution ?</h3>
	<p>Les espaces de coworking se développent à toute vitesse à travers le monde. Est-ce un effet de mode ? Un changement des mentalités ?</p>
	<p>Les technologies ont déjà transformés la manière dont nous travaillons: dans presque tous les domaines, nous travaillons désormais avec des ortinateurs, principalement connectés à un réseau.</p>
	<p>Demain, aujourd'hui, nous nous rendrons compte que cette assistance des technologies est sous exploitée et qu'elle peut nous rendre beaucoup plus indépendants et autonomes. Forts de ces nouvelles compétences, le modèle <em>entreprise-salariés</em> devra se transformer pour tendre vers un réseau neutre d'entités (individus, entreprises) exerçant des activités.</p>
	<p>Ce nouveau modèle s'inscrira sans doute dans la proximité, la convivialité et la mutualisation des ressources. Le coworking ne fait que commencer…</p>
</div>