<h1>The Jokkolabs Network</h1>

<div class="row-fluid">
	<div class="span12 imagecontainer">
	<p><a href="http://jokkolabs.net" title="Accèder au site du mouvement: jokkolabs.net">
			<img src="/images/logo-jokkolabs.png" class="map" />
		</a>
	</p>
</div>

<p>Jokkolabs est un laboratoire d'idées tourné vers l'action. Il est animé par une communauté apprenante d'entrepreneurs dynamiques – catalyseurs et acteurs du changement - qui s'investissent sur les enjeux de demain pour créer des changements positifs et inventer un monde meilleur. Cette animation s'articule autour d'un espace virtuel et d'espaces de coworking – centre d'innovation technologique et sociale - appelés JokkoSpace.</p>

<p>Jokkolabs est né à Dakar, Sénégal, en 2010. Depuis, le mouvement s'étends en Afrique et ailleurs avec des espaces en France (Nanterre), au Mali (Bamako) et bientôt en Côte d'Ivoire, au Burkina Faso et ailleurs.</p>
<p>Pour en savoir plus sur le mouvement, <a href="http://jokkolabs.net">jokkolabs.net</a>.</p>

<h3>“Jokkolabs” ?</h3>
<p><strong><em>Jokko</em></strong> est un terme wolof, langue majoritaire du Sénégal, né de l'association de <strong><em>Joxko</em></strong> signifiant “donnes lui” et de <strong><em>Jotko</em></strong> signifiant “rejoins le”. Il est utilisé pour exprimer les concepts de communication, d'échange, de partage et d'intégration à une communauté. Ainsi, Jokkolabs est porteur de valeurs qui vont au delà d'un espace de créativité et d'innovation. C'est avant tout une aventure humaine.</p>
</div>