<div class="{{ page.sticky }}" id="banner">
		<div id="main-nav-holder">
			<nav id="main-nav">
				<ul>
				<li><a href="{% if page.lang == 'fr' %}{% else %}/en{% endif %}/#home"><img id="logo" src="/stylesheets/img/logo_jokkolabs.png" alt="Jokkolabs Bamako, co-working in Mali"></a></li>

				<li class="nav-link nav-link-internal"><a title="Twitter" href="https://twitter.com/JokkoML"><img src="/stylesheets/img/twitter-bird-dark-bgs.png" alt="" /></a></li>
				<li class="iconDivider nav-link-internal"><img src="/stylesheets/img/divider.png" alt="" /></li>
				<li class="nav-link">{% if page.lang == 'fr' %}<a title="In English" href="/en/"><img src="/stylesheets/img/icon_english.png" alt="FR" /></a>{% else %}<a title="En français" href="/"><img src="/stylesheets/img/icon_french.png" alt="FR" /></a>{% endif %}</li>
				<li class="nav-link"><a title="Blog" href="/blog"><img src="/stylesheets/img/icon_blog.png" alt="Blog Icon" /></a></li>
				<li class="iconDivider nav-link-internal"><img src="/stylesheets/img/divider.png" alt="" /></li>
				<li class="nav-link nav-link-internal"><a title="{% if page.lang == 'fr' %}Projets{% else %}Projects{% endif %}" href="{% if page.lang == 'fr' %}{% else %}/en{% endif %}/#projects"><img src="/stylesheets/img/icon_projects.png" alt="Projects Icon" /></a></li>
				<li class="nav-link nav-link-internal"><a title="{% if page.lang == 'fr' %}Le mouvement Jokkolabs{% else %}Jokkolabs Network{% endif %}" href="{% if page.lang == 'fr' %}{% else %}/en{% endif %}/#network"><img src="/stylesheets/img/icon_jokkolabsnetwork.png" alt="Jokkolabs Icon" /></a></li>
				<li class="nav-link nav-link-internal"><a title="{% if page.lang == 'fr' %}Le coworking ?{% else %}Co-Working?{% endif %}" href="{% if page.lang == 'fr' %}{% else %}/en{% endif %}/#co-working"><img src="/stylesheets/img/icon_coworking.png" alt="Co-working Icon" /></a></li>
				<li class="nav-link nav-link-internal"><a title="{% if page.lang == 'fr' %}Événnements @ Jokkolabs{% else %}Events @ Jokkolabs{% endif %}" href="{% if page.lang == 'fr' %}{% else %}/en{% endif %}/#events"><img src="/stylesheets/img/icon_events.png" alt="Calendar Icon" /></a></li>
				<li class="nav-link nav-link-internal"><a title="{% if page.lang == 'fr' %}Accès / Contact{% else %}Where is it?{% endif %}" href="{% if page.lang == 'fr' %}{% else %}/en{% endif %}/#location"><img src="/stylesheets/img/icon_location.png" alt="Map Spot Icon" /></a></li>
				<li class="nav-link nav-link-internal"><a title="{% if page.lang == 'fr' %}L'espace de travail{% else %}The Space{% endif %}" href="{% if page.lang == 'fr' %}{% else %}/en{% endif %}/#space"><img src="/stylesheets/img/icon_space.png" alt="Space Icon" /></a></li>
				</ul>
			</nav>
		</div>
	</div>