<!DOCTYPE html>
<html class="" lang="en">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<title>{% if page.title %} {{ page.title }} | {% endif %}{% if page.lang == 'fr' %}{{ site.title_fr }}{% else %}{{ site.title_en }}{% endif %}</title>
<meta name="description" content="{% if page.lang == 'fr' %}{{ site.description_fr }}{% else %}{{ site.description_en }}{% endif %}">
<meta name="keywords" content="{% if page.lang == 'fr' %}{{ site.description_fr }}{% else %}{{ site.description_en }}{% endif %}">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<link rel="alternate" type="application/rss+xml" title="RSS" href="/feed.xml" />
<!-- <link href="/stylesheets/bootstrap-responsive.min.css" rel="stylesheet">
<link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
<link href="/stylesheets/jokkolabs.css" rel="stylesheet"> -->
<link href="/stylesheets/unified.css" rel="stylesheet">

<!-- <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"> -->
<link rel="shortcut icon" href="/stylesheets/img/favicon16.png" type="image/png">
<link rel="apple-touch-icon" href="/stylesheets/img/logo_57.png" type="image/png">
<link rel="apple-touch-icon" sizes="72x72" href="/stylesheets/img/logo_72.png" type="image/png">
<link rel="apple-touch-icon" sizes="114x114" href="/stylesheets/img/logo_114.png" type="image/png">
</head>