<h1>Location in Bamako</h1>

<div class="row-fluid">
	<div class="span7">
		<p>Jokkolabs Bamako est situé dans le quartier <em>Hippodrome</em>, sur la rive gauche, entre l'ecole Nelson Mandela et le supermarché <em>Miniprix</em> ; deux lieux faciles d'accès.</p>
		<p>À 50m de l'entrée principale de l'école Nelson Mandela, proche de l'ancienne ambassade du Sénégal, cherchez le panneau bleu.</p>

		<h3>Horaires d'ouverture</h3>
		<ul>
			<li><strong>8h à 19h</strong> du lundi au vendredi</li>
			<li>10h à 17h le samedi</li>
			<li>Les éveénnements ont généralement lieux les vendredis après-midi. Les <em>jokkoworkers</em> souhaitant travailler utilisent la salle de réunion.</li>
		</ul>
	</div>
	<div class="span1"></div>
	<div class="span3">
		<p class="address"><strong>Jokkolabs Bamako</strong><br />
		Hippodrome<br />
		Rue 240, Porte 1068<br />
		BPE. 3713 – Bamako, Mali</p>
		<p>(223) 20 21 05 87<br />
		(223) 73 12 08 96<br />
		<a href="mailto:rgaudin@jokkolabs.net">rgaudin@jokkolabs.net</a><br />
		<a href="https://twitter.com/JokkoML">@JokkoML</a> on Twitter.</p>
	</div>
</div>

<div class="row-fluid">
	<div class="span12 imagecontainer">
		<p><a title="Voir la carte sur OpenStreetMap" href="http://www.openstreetmap.org/?lat=12.665622&lon=-7.969463&zoom=18&mlat=12.665622&mlon=-7.969463"><img src="/images/osm_map2.png" class="map" /></a></p>
	</div>
</div>