<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 french">
        <h1>S'y rendre à Bamako</h1>
		<p>Jokkolabs Bamako est situé dans le quartier <em>Hippodrome</em>, sur la rive gauche, entre l'école Nelson Mandela et le supermarché <em>Miniprix</em> ; deux lieux faciles d'accès.</p>
		<p>À 50m de l'entrée principale de l'école Nelson Mandela, proche de l'ancienne ambassade du Sénégal, cherchez le panneau bleu.</p>
	</div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 english">
        <h1>Location</h1>
        <p>Jokkolabs Bamako is located in <em>Hippodrome</em>, on the left bank of the Niger river, between the school <em>École Nelson Mandela</em> and the supermarket named <em>Miniprix</em> ; two well known places.</p>
        <p>50m away from the main gate of Nelson Mandela School, near the former Embassy of Senegal. Look for the blue board.</p>
    </div>
</div>
<div class="row">
	<div class="map-row-container">
	    <div class="col-xs-12 col-sm-12 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8 map-container">
	        <div title="Click to navigate the map" class="img map"></div></a>
	    </div>
	</div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 french">
    	<h3>Horaires d'ouverture</h3>
		<ul>
			<li><strong>8h à 19h</strong> du lundi au vendredi</li>
			<li>10h à 17h le samedi</li>
			<li>Les événements ont généralement lieux les vendredis après-midi. Les <em>jokkoworkers</em> utilisent la salle de réunion.</li>
		</ul>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 english">
    	<h3>Opening Hours</h3>
        <ul>
            <li><strong>8am till 7pm</strong> Monday–Friday</li>
            <li>10am till 5pm on Saturday</li>
            <li>Events are usually scheduled on Friday afternoons. <em>Jokkoworkers</em> can then use the meeting room..</li>
        </ul>
    </div>
</div>
