<div class="row-fluid">
    <div class="col-sm-6 site-fr">
        <h1 class="title">S'y rendre à Bamako</h1>
        <!-- FR -->
		<p>Jokkolabs Bamako est situé dans le quartier <em>Hippodrome</em>, sur la rive gauche, entre l'ecole Nelson Mandela et le supermarché <em>Miniprix</em> ; deux lieux faciles d'accès.</p>
		<p>À 50m de l'entrée principale de l'école Nelson Mandela, proche de l'ancienne ambassade du Sénégal, cherchez le panneau bleu.</p>

		<h3>Horaires d'ouverture</h3>
		<ul>
			<li><strong>8h à 19h</strong> du lundi au vendredi</li>
			<li>10h à 17h le samedi</li>
			<li>Les événements ont généralement lieux les vendredis après-midi. Les <em>jokkoworkers</em> souhaitant travailler utilisent la salle de réunion.</li>
		</ul>
	</div>
    <div class="col-sm-6 site-en">
        <h1 class="title">S'y rendre à Bamako</h1>
        <!-- EN -->
        <p>Jokkolabs Bamako est situé dans le quartier <em>Hippodrome</em>, sur la rive gauche, entre l'ecole Nelson Mandela et le supermarché <em>Miniprix</em> ; deux lieux faciles d'accès.</p>
        <p>À 50m de l'entrée principale de l'école Nelson Mandela, proche de l'ancienne ambassade du Sénégal, cherchez le panneau bleu.</p>

        <h3>Horaires d'ouverture</h3>
        <ul>
            <li><strong>8h à 19h</strong> du lundi au vendredi</li>
            <li>10h à 17h le samedi</li>
            <li>Les événements ont généralement lieux les vendredis après-midi. Les <em>jokkoworkers</em> souhaitant travailler utilisent la salle de réunion.</li>
        </ul>
    </div>
</div>
<div class="row-fluid">
    <div class="col-xs-3  col-sm-6    col-md-9    col-lg-12">
        <p><a title="Voir la carte sur OpenStreetMap" href="http://www.openstreetmap.org/?lat=12.665622&lon=-7.969463&zoom=18&mlat=12.665622&mlon=-7.969463"><img src="/images/osm_map.png" class="map" /></a></p>
    </div>
</div>