<div class="row">
	<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 french">
        <h1>L'espace de travail</h1>
		<p>Jokkolabs Bamako est un espace de <em>coworking</em> où <strong>tout le monde</strong> peut <strong>travailler</strong>, <strong>rencontrer</strong>, <strong>apprendre</strong>, <strong>partager</strong> et <strong>échanger</strong>.</p>
		<p><strong>Contrairement à un <em>centre d'affaires</em></strong>, l'objectif principal du coworking est de fournir un espace de travail comfortable, accessible et de soutenir tous ses membres par l'ouverture et le partage. Si vous ne connaissez pas le coworking, lisez l'<a href="https://fr.wikipedia.org/wiki/Coworking">article Wikipédia</a>.</p>
		<ul class="square large features">
			<li>Air conditionné</li>
			<li>Connexion internet <em>redondée</em></li>
			<li>Pas de coupure de courant.</li>
			<li>Salle de réunion équipée.</li>
			<li>Réseau de travailleurs indépendant.</li>
			<li><a href="https://www.facebook.com/JokkolabsBamako/events?key=events">Présentation &amp; conférences régulières</a>.</li>
		</ul>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 english">
        <h1>The working space</h1>
        <p>Jokkolabs Bamako is a <em>coworking</em> space where <strong>everybody</strong> can <strong>work</strong>, <strong>meet</strong>, <strong>learn</strong>, <strong>share</strong> and <strong>exchange</strong> with others.</p>
        <p><strong>Unlike a <em>Business Center</em></strong>, the main goal of coworking is to provide a comfortable and affordable working space and support its members through openness and sharing. If you are not familiar with coworking, read the <a href="https://en.wikipedia.org/wiki/Coworking">Wikipedia article</a>.</p>
        <ul>
            <li>Air conditioning</li>
            <li><em>Redundant</em> Internet Connexion</li>
            <li>No power outage.</li>
            <li>Equipped meeting room.</li>
            <li>Network of independant workers.</li>
            <li><a href="https://www.facebook.com/JokkolabsBamako/events?key=events">Periodic Conferences</a> (Talks, Hands-on, etc).</li>
        </ul>
    </div>
</div>
<div class="row">
	<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 french">
	    <h2>Formules</h2>
	</div>
	<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 english">
	    <h2>Plans &amp; Pricing</h2>
	</div>
</div>
<div class="row plans">
	<div class="col-xs-6 col-sm-offset-1 col-sm-2 col-md-offset-1 col-md-2 col-lg-offset-1 col-lg-2">
		<h3 class="offer-name">Jatigiya</h3>
		<h3>1&nbsp;<abbr title="day">jour</abbr></h3>
		<h4>Gratuit<sup>1</sup></h4>
	</div>
	<div class="col-xs-6 col-sm-2 col-md-2 col-lg-2">
		<h3 class="offer-name">Tan</h3>
		<h3>10&nbsp;<abbr title="days">jours</abbr><sup>2</sup></h3>
		<h4>30 000F</h4>
		<p><abbr title="meeting room">salle de réunion</abbr><sup>3</sup></p>
	</div>
	<div class="col-xs-6 col-sm-2 col-md-2 col-lg-2">
		<h3 class="offer-name">Mugan</h3>
		<h3>20&nbsp;<abbr title="days">jours</abbr><sup>2</sup></h3>
		<h4>45 000F</h4>
		<p><abbr title="meeting room">salle de réunion</abbr><sup>3</sup></p>
	</div>
	<div class="col-xs-6 col-sm-2 col-md-2 col-lg-2">
		<h3 class="offer-name">I sago</h3>
		<h3>Flexible</h3>
		<h4>6 000F/j</h4>
		<p>salle réunion<sup>3</sup></p>
	</div>
	<div class="col-xs-6 col-sm-2 col-md-2 col-lg-2">
		<h3 class="offer-name">Visa</h3>
		<h3>2&nbsp;<abbr title="days">jours</abbr></h3>
		<h4>Gratuit<sup>4</sup></h4>
	</div>
</div>
<div class="row footnotes">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 french">
        <hr />
        <p><sup>1</sup> Éssai gratuit. Valable une seule fois.<br />
        <sup>2</sup> À consommer dans le mois.<br />
        <sup>3</sup> Accès à la salle de réunion. Réservation payante.<br />
        <sup>4</sup> Réservé aux possesseurs du <a href="http://wiki.coworking.com/w/page/16583744/CoworkingVisa">Coworking VISA</a>: membres d'un autre espace de coworking.</p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 english">
        <hr />
        <p><sup>1</sup> Free trial. Only once.<br />
        <sup>2</sup> Within a one-month period.<br />
        <sup>3</sup> Access to meeting room. Extra fee to book the room.<br />
        <sup>4</sup> Only for holders of a <a href="http://wiki.coworking.com/w/page/16583744/CoworkingVisa">Coworking VISA</a>: members of other coworking spaces.</p>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 french">
        <h3>Services inclus</h3>
        <ul>
        	<li>Eau fraiche, café, thé, thé malien</li>
        	<li>Bureaux &amp; fauteuils comfortables.</li>
        	<li>Connection Internet: 3 connections 384kbps en <em>load-balancing</em>.</li>
        	<li>Air conditionné dans l'espace de travail et la salle de réunion.</li>
        	<li>Pas de coupure de courant (panneaux solaires). Hors climatisation.</li>
        	<li>Coin cuisine, tableau noir, balcon et terrasse.</li>
        	<li>Accès à tous les <a href="#events">événnements</a>.</li>
        	<li>Salle de réunion 8 places: 5 000F/h.</li>
        	<li>Impressions et copies : 25F/p.</li>
        </ul>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 english">
        <h3>Included Services</h3>
        <ul>
            <li>Fresh water, coffee, tea, malian tea</li>
            <li>Comfortable desks &amp; chairs</li>
            <li>Internet Connexion: 3 <em>384kbps</em> links configured for <em>load-balancing</em>.</li>
            <li>Air conditioning in the working space and the meeting room.</li>
            <li>No power outages (solar backup). Except for A.C</li>
            <li>Lunch area, blackboard, balcony and terrace.</li>
            <li>Access to all the events (see calendar on facebook).</li>
            <li>Meeting room (8 people): 5 000F/h.</li>
            <li>Prints and copies : 25F/p.</li>
        </ul>
    </div>
</div>
