<h1>L'espace de travail</h1>

<div class="row-fluid">
	<div class="span6">
		<p>Jokkolabs Bamako est un espace de <em>coworking</em> où <strong>tout le monde</strong> peut <strong>travailler</strong>, <strong>rencontrer</strong>, <strong>apprendre</strong>, <strong>partager</strong> et <strong>échanger</strong>.</p>
		<p><strong>Contrairement à un <em>centre d'affaires</em></strong>, l'objectif principal du coworking est de fournir un espace de travail comfortable, accessible et de soutenir tous ses membres par l'ouverture et le partage. Si vous ne connaissez pas le coworking, lisez notre <a href="#coworking">introduction au coworking</a>.</p>
	</div>

	<div class="span6">
		<ul class="square large features">
			<li>Air conditionné</li>
			<li>Connexion internet <em>redondée</em></li>
			<li>Pas de coupure de courant.</li>
			<li>Salle de réunion équipée.</li>
			<li>Réseau de travailleurs indépendant.</li>
			<li>Présentation &amp; conférences régulières.</li>
		</ul>
	</div>
</div>

<div class="container">
    <div id="slides">
	  <img src="/images/space1.jpg" alt="The coworking space">
      <img src="/images/kitchen.jpg" alt="Comfortable kitchen spot">
    </div>
</div>

<h2>Formules</h2>

<div class="offers row-fluid">
	<div class="paper paper-raise span2">
		<h3 class="offer-name">Jatigiya</h3>
		<h3>1&nbsp;jour</h3>
		<h4>Gratuit<sup>1</sup></h4>
	</div>
	<div class="paper paper-raise span2">
		<h3 class="offer-name">Tan</h3>
		<h3>10&nbsp;jours</h3>
		<h4>30 000F</h4>
		<p>salle de réunion<sup>2</sup></p>
	</div>
	<div class="paper paper-raise span2">
		<h3 class="offer-name">Mugan</h3>
		<h3>20&nbsp;jours</h3>
		<h4>45 000F</h4>
		<p>salle de réunion<sup>2</sup></p>
	</div>
	<div class="paper paper-raise span2">
		<h3 class="offer-name">Kalo</h3>
		<h3>Un mois</h3>
		<h4>60 000F</h4>
		<p>1/2 journée <acronym title="salle de réunion">SdR</acronym></p>
	</div>
	<div class="paper paper-raise span2">
		<h3 class="offer-name">I sago</h3>
		<h3>Flexible</h3>
		<h4>4 000F/j</h4>
	</div>
	<div class="paper paper-raise span2">
		<h3 class="offer-name">Visa</h3>
		<h3>2&nbsp;jours</h3>
		<h4>Gratuit<sup>3</sup></h4>
	</div>
</div>

<p><sup>1</sup> Essai gratuit. Valable une seule fois.<br />
<sup>2</sup> Accès à la salle de réunion. Réservation payante.<br />
<sup>3</sup> Réservé aux possesseurs du <a href="http://wiki.coworking.com/w/page/16583744/CoworkingVisa">Coworking VISA</a>: membres d'un autre espace de coworking dans le monde.</p>

<h3>Services inclus</h3>
<ul>
	<li>Eau fraiche, café, thé, thé malien</li>
	<li>Bureaux &amp; fauteuils comfortables.</li>
	<li>Connection Internet: 3 connections 384kbps en <em>load-balancing</em>.</li>
	<li>Air conditionné dans l'espace de travail et la salle de réunion.</li>
	<li>Pas de coupure de courant (panneaux solaires). Hors climatisation.</li>
	<li>Coin cuisine, tableau noir, balcon et terrasse.</li>
	<li>Accès à tous les <a href="#events">événnements</a>.</li>
	<li>Salle de réunion 8 places: 5 000F/h.</li>
	<li>Impressions et copies : 25F/p.</li>
</ul>

<p class="notice">Jokkolabs est avant tout un <strong>espace d'échange</strong> ; vous êtes invité à y présenter vos projets!</p>